* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


:root {
    --yellow--: #ffd900;
    --white--: #ffffff;
    --black--: #080808;
    --text-color: #ffffff;
    --bg-color: #ababab;
    --card-bg-color: hsl(228, 2%, 41%);
    --card-bg-color-active: hsl(226, 37%, 88%);
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/*
Plaatst het element met de klasse 'two' over alle drie kolommen van het raster en beslaat de eerste twee rijen.
*/
.one {
    grid-column: 1 / 4;
    grid-row: 1;

}

.two {
    grid-column: 1 / 4;
    grid-row: 1 / 3;

}




html {
    scroll-behavior: smooth;
}



body {
    background: var(--black--);
    color: var(--white--);
}

/*
Definieert de stijl voor de headersectie, inclusief de breedte, hoogte, achtergrondafbeelding en positie.
*/

.header {
    width: 100%;
    height: 100vh;
    background-image: url(/img/laptop.png);
    background-size: cover;
    background-position: center;
}


.container {
    padding: 10px 10%;
}

/*
Definieert de lay-out voor het navigatiemenu met flexbox.
*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--white--);
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

/*
Voegt een schuifende onderstrepingseffect toe aan navigatielinks bij hoveren.
*/
nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--yellow--);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

/*
Breidt het schuifende onderstrepingseffect uit op navigatielinks bij hoveren.
*/

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: var(--yellow--);
}


/*
Mediaquery voor schermen met een maximale breedte van 600px.
*/
@media only screen and (max-width: 600px) {
    .two {
        display: grid;
        grid-row: 2 / 3;

    }


    .header-text h1 {
        font-size: 50px;
    }

    .one {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }

    /* Past de rasterpositionering aan voor het element met de klasse 'one' */

    .two {
        grid-column: 1 / 4;
        grid-row: 2 / 3;

    }

    /* Past de rasterpositionering aan voor het element met de klasse 'two' */


}

/* Bij deze precies hetzelfde  alleen voor de tablet versie. */

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .two {
        display: grid;
        grid-row: 2 / 3;

    }

    .header-text h1 {
        font-size: 50px;
    }

    .one {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }

    .two {
        grid-column: 1 / 4;
        grid-row: 2 / 3;

    }



}





/* ---------about--------- */
/*
Stelt de padding en tekstkleur in voor het element met de klasse 'about'.
*/
.about {
    padding: 80px 0;
    color: var(--bg-color);
}

/*
dit staat op de header om de img en de nav verder van elkaar te halen.'.
*/
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*
Stelt de grootte van de eerste kolom in op 35% van de beschikbare ruimte zodat de pagina niet te voll word..
*/
.about-col-1 {
    flex-basis: 35%;
}


.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}


.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--white--);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}


.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--yellow--);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}


.tab-links.active-link::after {
    width: 50%;
}

/*
Stelt de stijl in voor de lijstitems binnen tab-contents.
*/
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}


.tab-contents ul li span {
    color: #b8a018;
    font-size: 14px;
}

/*
Definieert de lay-out voor tab-contents, waarbij de inhoud verticaal wordt weergegeven met de tekst onderaan.
*/
.tab-contents {
    display: flex;
    flex-direction: column-reverse;
}


/*
Mediaquery voor schermen met een maximale breedte van 600px.
*/
@media only screen and (max-width: 600px) {

    /* Past de breedte van de afbeelding binnen de eerste kolom aan */
    .about-col-1 img {
        width: 300px;
    }
}

/*
hetzelfde maar dan voor tablet
*/
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .about-col-1 img {
        width: 300px;
    }
}




/* -------contact------- */

a>i {
    color: var(--white--);
}

.header-text h1 span {
    color: var(--yellow--);
}


span a {
    text-decoration: none;
    color: var(--yellow--);
}

.dashboard-title {
    font-size: 40px;
}



.bodyc {
    color: var(--text-color);
    background: var();
    font-family: 'Inter', sans-serif;
}

/*
Stelt de breedte en marges in voor 'container1'.
*/
.container1 {
    width: 90%;
    margin: 28px auto;
    margin-top: 200px;
}

/*
Stelt de maximale breedte, lay-out,  tekstuitlijning en marges in voor 'main-grid' en 'overview-grid'.
*/
.main-grid,
.overview-grid {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

/*
Stelt de padding en onderste rand in voor 'main-text'.
*/
.main-text {
    padding-bottom: 20px;
}


/*
Mediaquery voor schermen met een minimale breedte van 500px.
*/
@media (min-width: 500px) {

    .main-grid,
    .overview-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }


    .d-flex {
        max-width: 1000px;
        margin: 0 auto;
    }


    .main-grid,
    .overview-grid {
        gap: 18px;
    }
}

/*
Stelt marges in voor kop- en alinea-elementen.
*/
h1,
h2,
p {
    margin: 0;
}

.main-card {
    padding: 30px 0;
}


.name {
    font-size: 30px;
    font-weight: 600;
}


.main-card,
.overview-card {
    background-color: var(--card-bg-color);
    border-radius: 5px;
}


/*
Voegt een gekleurde rand toe aan 'main-card' afhankelijk van het sociale media platform.
*/
.main-card--fb-tw {
    border-top: 6px solid hsl(208, 92%, 53%);

}


.main-card--insta {
    border-top: 6px solid hsl(298, 56%, 53%);




}

.main-card--yt {
    border-top: 6px solid hsl(348, 97%, 39%);
}

/*
Stelt de breedte in voor 'social-icon'.
*/
.social-icon {
    width: 50px;
}

/* ---------Projects--------- */

/* Is eigenlijk bijna hetzelfde als de about pagina, maar de content erin en sommige groottes zijn veranderd. */


.projects {
    padding: 80px 0;
    color: var(--bg-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-3 {
    flex-basis: 35%;

}

.about-col-3 img {
    width: 70%;
    border-radius: 15px;
}

.about-col-4 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--white--);
}

.tab-titles1 {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--yellow--);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {

    color: #b8a018;
    font-size: 14px;
}

.tab-contents {
    display: flex;
    flex-direction: column-reverse;
}

.tab-contents.active-tab {
    display: block;
}

.nav-links {
    margin-top: 10px;
}

.nav-links2 {
    margin-top: 10px;
    padding: 10px 10%
}

@media only screen and (max-width: 600px) {
    .about-col-3 img {
        width: 250px;
    }

}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .about-col-3 img {
        width: 300px;
    }

}